@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

.container {
  display: flex;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  width: 80px;
  background: #ffcc19;
  color: #6b6b6b;
  height: 100vh;
  position: static;
  top: 0;
  bottom: 0;
  transition: width 200ms;
}

.activeSidebar {
  min-width: 250px;
}
.sidebarMenuDeactive{
  display: none;
}

.sidebar-content {
    padding: 5px;
}
.sidebar-content .slogan p{
    line-height: 1.1;
    padding-bottom: 10px;
}
.sidebar-content .slogan{
    border-bottom: 1px solid #999;
}

.sidebar-content ul {
    padding: 10px 0;
    border-bottom: 1px solid #999;
    list-style-type: none;
}
.sidebar-content ul li{
    /* display: flex; */
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}
.sidebar-content ul li i{
    margin-right: 5px;
}

.sidebar-content ul li:hover{
  background-color: #6b6b6b;
  cursor: pointer;
  color: #ffcc19;
}

.sidebar-content ul li:hover i {
    color: #ffcc19;
}
.activePage{
    background-color: #949090;
    cursor: pointer;
    color: #ffcc19;
}

.brand {
    position: relative;
    text-align: center;
    background-color: #e5b200;
    color: #6b6b6b;
}

#brandhead{
    padding: 3px 0;
}
#brandtitle{
    position: absolute;
    top: 0;
    margin-top: 33px;
    font-size: 13px;
    margin-left: 46px;
    color: #ffcc19;
}

.sidebar-small-active{
    display: none;
}
.sidebar-content-two{
    align-items: center;
    text-align: center;
    font-size: 30px;  
}
.sidebar-content-two ul li{
    cursor: pointer;
}
.sidebar-content-two ul li:hover{
    background-color:#6b6b6b;
    color: #ffcc19;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  background: #fafafa;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  transition: all 0.3s;
  height: 100vh;
  position: static;
  flex-grow: 1;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: margin-left .5s;
}



/* navbar  start*/
#navbar {
  padding: 15px 10px;
  background: #fff;
  border: 0;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#collapsButton {
  border: 0;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  background-color: #ffcc19;
  color: #6b6b6b;
  cursor: pointer;
}

.leftrigth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightnav {
  display: flex;
  align-items: center;
}

.rightnav>p,
button {
  margin-left: 10px;
}

/* navbar  **** end *****  */


.card-container{
    display: flex;
}

.card-home{
    height: 200px;
    width: 100%;
    margin: 0 10px;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border: 0;
}
.card-home:first-child{
    margin: 0 10px 0 0;
}
.card-home:last-child{
    margin: 0 0 0 10px;
}

.h2 {
  margin-top: 15px;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}


/*  table list*/
.dataList{
  display: flex;
  justify-content: space-between;
}
.dataList .content-table:first-child{
    margin-right: 15px;
}
.dataList .content-table:last-child{
    margin-right: 15px;
}


.addData{
  padding: 10px 10px;
  background-color: green;
  border-radius: 5px;
  border: 0;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.addData:hover{
  background-color: blue;
}


.customerDetails{
    font-size: 25px;
    font-weight: 500;
}
#sortBy{
    border: 0;
    padding: 10px 10px;
    background-color: rgb(200, 199, 199);
    border-radius: 5px;
}
/* ---------------------------------------------------
    Footer
----------------------------------------------------- */




/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */